/*LOGIN ESTILOS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

:root {
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color: #000000;
}

body {
    background-image: url("https://plus.unsplash.com/premium_photo-1681487769650-a0c3fbaed85a?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZWNvbm9tJUMzJUFEYXxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: var(--second-color);
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.login-box {
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
}

.login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 150px;
    height: 60px;
    border-radius: 0 0 30px 30px;
}

.login-header span {
    font-size: 35px;
    color: var(--black-color);
}

.login-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}

.login-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}

.login-logo {
    width: 120px;
    height: auto;
    margin-right: 10px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    margin-bottom: 28px;
}

.input-field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}


.input-field:-webkit-autofill,
.input-field:-webkit-autofill:focus,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--primary-color) transparent inset !important;
    /* Cambia #fff por el color de fondo que usas */
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: var(--second-color) !important;
    /* Cambia #333 por el color de texto que usas */
    transition: background-color 5000s ease-in-out 0s;
}

#user {
    margin-bottom: 10px;
}

.label {
    position: absolute;
    top: -28px;
    left: 20px;
    transition: 0.2s;
}

.input-field:focus~.label,
.input-field:valid .label {
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.input-submit {
    background-color: #0d2b43;
    border-color: #0d2b43;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 2rem;
    padding: 0.75rem 2.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    transition: background 0.2s, border 0.2s, transform 0.2s;
}

.input-submit:hover {
    background-color: #ed4544;
    border-color: #ed4544;
    color: #fff;
    transform: translateY(-2px) scale(1.04);
    box-shadow: 0 4px 16px rgba(237, 69, 68, 0.18);

}

.register {
    text-align: center;
}

.register a {
    font-weight: 500;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*
FLASH MESSAGE ESTILOS
*/
.flash-message {
    margin-bottom: 10px;
    margin-top: -30px;
    color: #ed4544;
    background: #ffd2d200;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

@media only screen and (max-width: 564px) {
    .wrapper {
        padding: 20px;
    }

    .login_box {
        padding: 7.5em 1.5em 4em 1.5em;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}