<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Empleado</title>
</head>
<body>
    <h2>Registro de Empleado</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('registrar') }}" method="post">
        <label for="user">Usuario:</label>
        <input type="text" name="user" id="usuario" required><br>
        <label for="pass">Contraseña:</label>
        <input type="text" name="pass" id="password" required><br>
        <label for="rs">Razon Social</label>
        <input type="text" name="rs" id="razonSocial" required><br>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>
