<!-- filepath: /Users/jmrr/Documents/DB GPOMAXIR/DB-GPOMAXIR/templates/validar_form.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Validar Empleado</title>
    <!-- Bootstrap Icons CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/validar_form.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="{{ url_for('static', filename='img/logoMaxir.png') }}" alt="Logo" class="sidebar-logo">
            <h2>MAXIR</h2>
        </div>
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('home') }}"><i class='bi bi-house'></i> <span>Inicio</span></a></li>
            <li><a href="{{ url_for('validar_form') }}"><i class='bi bi-upc-scan'></i> <span>Validar</span></a></li>
            <li><a href="{{ url_for('login') }}"><i class='bi bi-box-arrow-right'></i> <span>Cerrar Sesion</span></a></li>
        </ul>
    </div>

    <div class="main-content">
        <h2>Validar Empleado</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('validar') }}" method="POST">
            <label for="empleado_id">Escanea o ingresa el ID del empleado:</label>
            <input type="text" name="empleado_id" id="empleado_id" required autofocus>
            <!--<button type="submit">Validar</button>-->
            <div class="input-box">
                <input type="submit" class="input-submit" value="Validar">
            </div>
        </form>
    </div>  
    

</body>
</html>